@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Libre+Baskerville&family=Lato&display=swap");

.introContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .letter {
    font-family: "Libre Baskerville";
    font-size: 30px;
    letter-spacing: 0.5em;
    font-weight: lighter;
    display: inline-block;
  }
}
.container {
  width: 100vw;
  padding: 0 25px;
  span {
    z-index: 1;
  }
}
.desktopMoreButton {
  display: none;
}
.header {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(5vh - 15px);

  z-index: 1;
  .logo {
    font-family: "Homemade Apple";
    font-size: 15px;
  }
}
.button {
  background-color: transparent;
  border: 1px solid black;
  padding: 10px 15px;
}
.contentContainer {
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  z-index: 2;
}
.amountToMint {
  font-size: 12px;
  width: 80px;
  display: inline-block;
  text-align: center;
  border: solid 1px black;
  padding: 10px 15px;
  margin: 0 8px;
}
.mintButton {
  width: 150px;
  height: 55px;
  display: block;
  background: black;
  color: #fff;
  font-family: "Lato";
  text-transform: uppercase;
  letter-spacing: 0.275em;
  font-size: 11px;
  margin-bottom: 100px;
  cursor: pointer;
}
.backgroundImage {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heading {
  font-family: "Libre Baskerville";
  font-size: 46px;
  margin: 0;
  line-height: 57px;
  font-weight: normal;
  margin-bottom: 35px;
  max-width: 350px;
}
.subHeading {
  font-family: "Lato";
  font-size: 11px;
  letter-spacing: 0.06em;
  margin: 0;
  margin-left: 7px;
  color: #aaa;
  margin-bottom: 15px;
  font-weight: 500;
}
.description {
  font-family: "Quattrocento Sans";
  line-height: 1.5;
  font-size: 14px;
  max-width: 300px;
  margin-bottom: 25px;
  margin-top: 25px;
}
.mintingButtonsContianer {
  width: fit-content;
}

.headerButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.moreAboutPhotographer {
  button {
    background: none;
    border: none;
    letter-spacing: 0.06em;
    padding: 0 0 6px 0;
    font-family: "Lato";
    font-weight: 500;
    color: #000;
    font-size: 16px;
    &:hover {
      cursor: url("../public/SOON.png"), auto;
    }
  }

  .buttonUnderline {
    background: #000;
    height: 1px;
    display: block;
    margin-top: 5px;
  }
}
.imageIntroAnimation {
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
.mainImageContainer {
  position: relative;
  overflow: hidden;
  height: fit-content;
}
.mainHomeImage {
  height: 100%;
  margin-bottom: 35px !important;
}
.imageInnerContainer {
  overflow: hidden;
}
.subImageContainer {
  position: relative;
  overflow: hidden;
  //width: 300px;
  grid-area: subImage;
  height: fit-content;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .introContainer {
    .letter {
      font-size: 60px;
    }
  }
  .heading {
    font-size: 64px;
    max-width: 55vw;
    line-height: 1.1;
  }
  .subHeading {
    font-size: 12px;
  }

  .description {
    max-width: 40vw;
    font-size: 1vw;
    margin-left: 0.8vw;
  }
  .backgroundImage {
    object-position: 50% 75%;
  }
}
.mobileMoreButton {
  margin-bottom: 25px;
  width: fit-content;
}
@media (min-width: 1300px) {
  .subImageContainer {
    margin-bottom: unset;
  }
  .mobileMoreButton {
    display: none;
  }
  .desktopMoreButton {
    display: block;
    grid-area: moreInfo;
    width: fit-content;
    height: fit-content;
    align-self: end;
    margin-bottom: 10px;
  }
  .mintButton {
    width: 210px;
    font-size: 16px;
    height: 75px;
  }
  .heading {
    font-size: 72px;
    width: 500px;
    margin-bottom: 55px;
  }
  .subHeading {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .container {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: space-between;
  }
  .indexContainer {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gridContainer {
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 25px;
    grid-template-areas:
      ". . . . . mainImage mainImage"
      "text text . subImage subImage mainImage mainImage "
      "text text . subImage subImage mainImage mainImage "
      "moreInfo moreInfo .  subImage subImage . .";
  }

  .innerContainer {
    grid-area: text;
  }
  .mainImageContainer {
    grid-area: mainImage;

    .mainHomeImage {
      margin-bottom: 0px !important;
    }
    div {
      //width: 600px;
    }
    span {
      display: block;
    }
  }
}

@media (min-width: 1600px) {
  .mintButton {
    width: 210px;
    font-size: 16px;
    height: 75px;
  }
  .heading {
    font-size: 84px;
    width: 600px;
    line-height: 104px;
  }
  .subHeading {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .moreAboutPhotographer {
    font-size: 16px;
  }
  .desktopMoreButton {
    margin-bottom: 63px;
  }
}
