.header {
  margin-top: 35px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 1;
  .logo {
    width: 45px !important;
    height: 45px !important;
    cursor: pointer;
  }
}
.button {
  background-color: transparent;
  border: 1px solid black;
  padding: 8px 10px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}
.mobileNav {
  position: absolute;
  height: 100%;
  z-index: 2;
  width: 100%;
  top: 100px;
  left: 0;
  background: #fff;
  padding-top: 150px;
  ul {
    padding: 0;
    margin: 0;
    padding-left: 25px;
  }
  .navItem {
    font-size: 43px;
    font-family: "Libre Baskerville";
    font-weight: 400;
    list-style: none;
    margin-bottom: 55px;
    .number {
      font-size: 16px;
      display: inline-block;
      margin-right: 8px;
      line-height: 24px;
    }
  }
}

.menuTextContainer {
  margin-right: 13px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  color: #000;
  cursor: pointer;
  &.menuMobile {
    color: #fff;
  }
  span {
    display: block;
    font-family: "lato";
    font-size: 15px;
    line-height: 34px;
    &:nth-child(2) {
      position: absolute;
      top: 100%;
    }
  }
}
.headerButtons {
  display: flex;
}

.desktopNav {
  display: none;
  ul {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  ul .navItem {
    list-style: none;
    font-family: "Lato";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.06em;
    padding: 0;
    padding-bottom: 6px;
  }
  .selected {
    border-bottom: 2px solid #000;
  }
}

@media (min-width: 1200px) {
  .mobileNav {
    display: none;
  }
  .menuTextContainer,
  .mobileNavButton {
    display: none;
  }
  .button {
    font-size: 16px;
    padding: 10px 15px;
  }
  .desktopNav {
    display: block;
  }
}
